# file.te

### DATA
type zram_data_file, file_type, data_file_type, core_data_file_type;

## SYSFS
type sysfs_virtual, fs_type, sysfs_type, mlstrustedobject;
type sysfs_sec_switch, sysfs_type, r_fs_type, fs_type;
type sysfs_battery, sysfs_type, r_fs_type, fs_type;
type sysfs_sec_touchscreen, sysfs_type, r_fs_type, fs_type;
type sysfs_sec_switch_writable, sysfs_type, rw_fs_type, fs_type;
type sysfs_touchscreen_writable, sysfs_type, rw_fs_type, fs_type;
type sysfs_battery_writable, sysfs_type, rw_fs_type, fs_type;
type sysfs_flashlight, sysfs_type, rw_fs_type, fs_type;
