# file.te

### DATA
type zram_data_file, file_type, data_file_type, core_data_file_type;

## SYSFS
type sysfs_gpu_tmu, sysfs_type, rw_fs_type, fs_type;
type sysfs_flashlight, sysfs_type, rw_fs_type, fs_type;
