allow system_app sysfs_gpu_tmu:file { read open write getattr };
allow system_app sysfs_flashlight:file { read open write getattr };
allow system_app selinuxfs:file rw_file_perms;
allow system_app sysfs_sec_switch:dir { search };
allow system_app sysfs_sec_switch_writable:file rw_file_perms;
allow system_app sysfs_battery_writeable:file rw_file_perms;
allow system_app sysfs_sec_switch_writable:dir { search };
allow system_app sysfs_battery_writeable:dir { search };
allow system_app sysfs_battery:dir { search };
