type hal_touch_samsung, domain, coredomain;
hal_server_domain(hal_touch_samsung, hal_lineage_touch)

type hal_touch_samsung_exec, system_file_type, exec_type, file_type;
init_daemon_domain(hal_touch_samsung)

allow hal_touch_samsung sysfs_sec_tsp:dir search;
allow hal_touch_samsung sysfs_sec_tsp:file rw_file_perms;
