on init
    mount none /system/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind

    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind

    # ZRAM parameters
    write /proc/sys/vm/page-cluster 0
    write /proc/sys/vm/swappiness 100

on fs
    swapon_all /system/etc/fstab.enableswap

service ExynosHWCServiceTW /system/bin/true
    oneshot
    disabled

service ExynosHWCConfigs /system/bin/true
    oneshot
    disabled

service argos-daemon /system/bin/true
    oneshot
    disabled

service sec-miscpower-2-0 /system/bin/true
    oneshot
    disabled

service snapserv /system/bin/true
    oneshot
    disabled

service snap_utility_32 /system/bin/true
    oneshot
    disabled

service snap_utility_64 /system/bin/true
    oneshot
    disabled

service vaultkeeper /system/bin/true
    oneshot
    disabled

service vaultkeeper_hal /system/bin/true
    oneshot
    disabled

service charger /system/bin/charger
    class charger
    user system
    group system graphics input
    capabilities SYS_BOOT
    seclabel u:r:charger:s0
