<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.eurekateam.samsungextras" android:sharedUserId="android.uid.system">
   <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
   <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER"/>

   <protected-broadcast android:name="com.android.systemui.doze.pulse"/>
   <application
	   android:label="@string/advanced_settings"
	   android:supportsRtl="true"
	   android:theme="@style/Theme.SubSettingsBase"
	   android:fullBackupOnly="true"
	   android:persistent="true"
	   android:defaultToDeviceProtectedStorage="true">

   <receiver
	   android:name=".BootReceiver"
	   android:exported="true"
	   android:directBootAware="true">
         <intent-filter>
            <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
      </receiver>
      <activity
	      android:name=".DeviceSettingsActivity"
	      android:exported="true"
	      android:excludeFromRecents="true"
	      android:launchMode="singleTask">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.DEFAULT"/>
            <action android:name="com.android.settings.action.EXTRA_SETTINGS"/>
            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
         </intent-filter>
         <meta-data android:name="com.android.settings.dismiss" android:value="9,13,30"/>
         <meta-data android:name="com.android.settings.category" android:value="com.android.settings.category.ia.system"/>
         <meta-data android:name="com.android.settings.summary" android:resource="@string/advanced_settings_summary"/>
         <meta-data android:name="com.android.settings.icon" android:resource="@drawable/ic_device"/>
      </activity>
      <activity android:name=".speaker.ClearSpeakerActivity"
	      android:exported="true"
	      android:label="@string/clear_speaker_title">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
      </activity>
      <activity android:name=".flashlight.FlashLightActivity" android:exported="true" android:label="@string/flashlight_title">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
      </activity>
      <activity android:name=".dolby.DolbyActivity" android:exported="true" android:label="@string/dolby_title">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
      </activity>
      <activity android:name=".swap.SwapActivity" android:exported="true" android:label="@string/swap_title">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
      </activity>
      <provider android:name=".dolby.DolbySearchIndexablesProvider" android:exported="true" android:authorities="com.eurekateam.samsungextras" android:multiprocess="false" android:grantUriPermissions="true" android:permission="android.permission.READ_SEARCH_INDEXABLES">
         <intent-filter>
            <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
         </intent-filter>
      </provider>
      <service android:name=".dolby.DolbyTile" android:exported="true" android:icon="@drawable/ic_speaker_cleaner_icon" android:label="@string/dolby_title" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:enabled="true">
         <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE"/>
         </intent-filter>
         <meta-data android:name="android.service.quicksettings.TOGGLEABLE_TILE" android:value="true"/>
      </service>
      <activity android:name=".battery.BatteryActivity" android:exported="true" android:label="@string/fastcharge_title">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
 	</activity>
 	<activity android:name=".smartcharge.SmartChargeActivity" android:exported="true">
		<intent-filter>
			<action android:name="android.intent.action.MAIN"/>
			<category android:name="android.intent.category.DEFAULT"/>
		</intent-filter>
	</activity>
      <service android:name=".fps.FPSInfoService" android:exported="false">
        </service>
      <service android:name=".fps.FPSTileService" android:icon="@drawable/ic_fps_info" android:label="@string/fps_info_title" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
         <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE"/>
         </intent-filter>
      </service>
   </application>
</manifest>
