service bootlogd /system/bin/logcat -b all -f /cache/boot.log
  user root
  group root
  oneshot
  disabled
  
on early-init 
  rm /cache/boot.log
  start bootlogd
  
on property:sys.boot_completed=1
  stop bootlogd
