<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:sharedUserId="android.uid.system" package="com.eurekateam.fmradio">
   <application android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/Theme.Material3.DayNight.NoActionBar">
      <activity android:name=".MainActivity" android:exported="true">
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <action android:name="android.intent.action.HEADSET_PLUG"/>
            <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>
      </activity>
      <service android:name=".FMRadioService" android:exported="false">
         <intent-filter>
	    <action android:name="com.eurekateam.fmradio.STOP"/>
            <category android:name="android.intent.category.DEFAULT"/>
         </intent-filter>
      </service>
   </application>
</manifest>
