allow hal_samsung_camera_flashlight_default sysfs_flashlight:file rw_file_perms;
allow hal_samsung_camera_flashlight_default sysfs_flashlight:dir search;
allow hal_samsung_camera_flashlight_default sysfs_virtual:dir search;
