type hal_fmradio_default, domain, coredomain;
type hal_fmradio_default_exec, exec_type, file_type,  system_file_type;
add_hwservice(hal_fmradio_default, hal_fmradio_hwservice);
init_daemon_domain(hal_fmradio_default);

hwbinder_use(hal_fmradio_default);
get_prop(hal_fmradio_default, hwservicemanager_prop);

allow hal_fmradio_default sysfs_fmradio_tune:file rw_file_perms;
allow hal_fmradio_default sysfs_fmradio_tune:dir search;

allow hal_fmradio_default sysfs_virtual:dir search;
