# SamsungParts
allow system_app hal_parts_hwservice:hwservice_manager find;

allow system_app hal_parts_default:binder call;

r_dir_file(system_app, parts_data_file)

# FMRadio
allow system_app hal_fmradio_hwservice:hwservice_manager find;

allow system_app hal_fmradio_default:binder call;

allow system_app fm_radio_device:chr_file { read write open ioctl };

