# SamsungParts
allow system_app hal_parts_service:service_manager find;

allow system_app hal_parts_default:binder call;

r_dir_file(system_app, parts_data_file)

# FMRadio
allow system_app hal_fmradio_service:service_manager find;

allow system_app hal_fmradio_default:binder call;
