service eureka_debugger /system/bin/eklogger
    user root
    group system
    oneshot
    disabled

on post-fs-data
      mkdir /data/debug 0755 root system encryption=None
      rm /data/debug/logcat.txt
      rm /data/debug/kmsg.txt
      # Turn on logging
      write /sys/module/printk/parameters/enabled 1
      start eureka_debugger

on property:sys.boot_completed=1
      stop eureka_debugger
      write /sys/module/printk/parameters/enabled 0
