on init
    # Reactivation Lock
    symlink /dev/block/platform/13500000.dwmmc0/by-name/steady /dev/block/steady

    # Google FRP solution
    symlink /dev/block/platform/13500000.dwmmc0/by-name/persistent /dev/block/persistent

on boot
    # Permissions for NAD
    symlink /dev/block/platform/13500000.dwmmc0/by-name/nad_refer /dev/block/nad_refer
    

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix
